<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>wait_for_network</key>
	<false/>
	<key>workflows</key>
	<array>
		<dict>
			<key>bless_target</key>
			<false/>
			<key>components</key>
			<array>
				<dict>
					<key>type</key>
					<string>script_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/APPFOLIO2025-1ba4914b0e133350/WorkflowScripts</string>
				</dict>
				<dict>
					<key>first_boot</key>
					<false/>
					<key>type</key>
					<string>package_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/APPFOLIO2025-1ba4914b0e133350/PreOS-Packages</string>
				</dict>
				<dict>
					<key>additional_package_urls</key>
					<array>
						<string>file://{{current_volume_path}}/Deploy/Workflows/APPFOLIO2025-1ba4914b0e133350/Packages</string>
					</array>
					<key>first_boot_reboot</key>
					<false/>
					<key>ramdisk</key>
					<false/>
					<key>skip_setup_assistant</key>
					<true/>
					<key>type</key>
					<string>startosinstall</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/macOS/Install macOS Sequoia 15.7_24G222.app</string>
					<key>wait_for_mac_buddy_exit</key>
					<false/>
				</dict>
			</array>
			<key>first_boot_reboot</key>
			<false/>
			<key>name</key>
			<string>APPFOLIO 2025</string>
		</dict>
		<dict>
			<key>bless_target</key>
			<false/>
			<key>components</key>
			<array>
				<dict>
					<key>type</key>
					<string>script_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS1378MSO21-d41a89870bc0ea93/WorkflowScripts</string>
				</dict>
				<dict>
					<key>first_boot</key>
					<false/>
					<key>type</key>
					<string>package_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS1378MSO21-d41a89870bc0ea93/PreOS-Packages</string>
				</dict>
				<dict>
					<key>additional_package_urls</key>
					<array>
						<string>file://{{current_volume_path}}/Deploy/Workflows/OS1378MSO21-d41a89870bc0ea93/Packages</string>
					</array>
					<key>first_boot_reboot</key>
					<false/>
					<key>ramdisk</key>
					<false/>
					<key>skip_setup_assistant</key>
					<true/>
					<key>type</key>
					<string>startosinstall</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/macOS/Install macOS Ventura 13.7.8_22H730.app</string>
					<key>wait_for_mac_buddy_exit</key>
					<false/>
				</dict>
			</array>
			<key>first_boot_reboot</key>
			<false/>
			<key>name</key>
			<string>OS 13.7.8 MSO 21</string>
		</dict>
		<dict>
			<key>bless_target</key>
			<false/>
			<key>components</key>
			<array>
				<dict>
					<key>type</key>
					<string>script_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS1378NoOffice-d7e3d13b93d01f4d/WorkflowScripts</string>
				</dict>
				<dict>
					<key>first_boot</key>
					<false/>
					<key>type</key>
					<string>package_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS1378NoOffice-d7e3d13b93d01f4d/PreOS-Packages</string>
				</dict>
				<dict>
					<key>additional_package_urls</key>
					<array>
						<string>file://{{current_volume_path}}/Deploy/Workflows/OS1378NoOffice-d7e3d13b93d01f4d/Packages</string>
					</array>
					<key>first_boot_reboot</key>
					<false/>
					<key>ramdisk</key>
					<false/>
					<key>skip_setup_assistant</key>
					<true/>
					<key>type</key>
					<string>startosinstall</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/macOS/Install macOS Ventura 13.7.8_22H730.app</string>
					<key>wait_for_mac_buddy_exit</key>
					<false/>
				</dict>
			</array>
			<key>first_boot_reboot</key>
			<false/>
			<key>name</key>
			<string>OS 13.7.8 No Office</string>
		</dict>
		<dict>
			<key>bless_target</key>
			<false/>
			<key>components</key>
			<array>
				<dict>
					<key>type</key>
					<string>script_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS1378OEM-412c46af70fcf6ff/WorkflowScripts</string>
				</dict>
				<dict>
					<key>first_boot</key>
					<false/>
					<key>type</key>
					<string>package_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS1378OEM-412c46af70fcf6ff/PreOS-Packages</string>
				</dict>
				<dict>
					<key>additional_package_urls</key>
					<array>
						<string>file://{{current_volume_path}}/Deploy/Workflows/OS1378OEM-412c46af70fcf6ff/Packages</string>
					</array>
					<key>first_boot_reboot</key>
					<false/>
					<key>ramdisk</key>
					<false/>
					<key>type</key>
					<string>startosinstall</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/macOS/Install macOS Ventura 13.7.8_22H730.app</string>
					<key>wait_for_mac_buddy_exit</key>
					<false/>
				</dict>
			</array>
			<key>first_boot_reboot</key>
			<false/>
			<key>name</key>
			<string>OS 13.7.8 OEM</string>
		</dict>
		<dict>
			<key>bless_target</key>
			<false/>
			<key>components</key>
			<array>
				<dict>
					<key>type</key>
					<string>script_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS1481MSO21-a0ba4424f283cd8e/WorkflowScripts</string>
				</dict>
				<dict>
					<key>first_boot</key>
					<false/>
					<key>type</key>
					<string>package_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS1481MSO21-a0ba4424f283cd8e/PreOS-Packages</string>
				</dict>
				<dict>
					<key>additional_package_urls</key>
					<array>
						<string>file://{{current_volume_path}}/Deploy/Workflows/OS1481MSO21-a0ba4424f283cd8e/Packages</string>
					</array>
					<key>first_boot_reboot</key>
					<false/>
					<key>ramdisk</key>
					<false/>
					<key>skip_setup_assistant</key>
					<true/>
					<key>type</key>
					<string>startosinstall</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/macOS/Install macOS Sonoma 14.8.1_23J30.app</string>
					<key>wait_for_mac_buddy_exit</key>
					<false/>
				</dict>
			</array>
			<key>first_boot_reboot</key>
			<false/>
			<key>name</key>
			<string>OS 14.8.1 MSO 21</string>
		</dict>
		<dict>
			<key>bless_target</key>
			<false/>
			<key>components</key>
			<array>
				<dict>
					<key>type</key>
					<string>script_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS1481NoOffice-a637d8663309f348/WorkflowScripts</string>
				</dict>
				<dict>
					<key>first_boot</key>
					<false/>
					<key>type</key>
					<string>package_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS1481NoOffice-a637d8663309f348/PreOS-Packages</string>
				</dict>
				<dict>
					<key>additional_package_urls</key>
					<array>
						<string>file://{{current_volume_path}}/Deploy/Workflows/OS1481NoOffice-a637d8663309f348/Packages</string>
					</array>
					<key>first_boot_reboot</key>
					<false/>
					<key>ramdisk</key>
					<false/>
					<key>skip_setup_assistant</key>
					<true/>
					<key>type</key>
					<string>startosinstall</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/macOS/Install macOS Sonoma 14.8.1_23J30.app</string>
					<key>wait_for_mac_buddy_exit</key>
					<false/>
				</dict>
			</array>
			<key>first_boot_reboot</key>
			<false/>
			<key>name</key>
			<string>OS 14.8.1 No Office</string>
		</dict>
		<dict>
			<key>bless_target</key>
			<false/>
			<key>components</key>
			<array>
				<dict>
					<key>type</key>
					<string>script_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS1481OEM-c4c04fbbf3d48fa/WorkflowScripts</string>
				</dict>
				<dict>
					<key>first_boot</key>
					<false/>
					<key>type</key>
					<string>package_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS1481OEM-c4c04fbbf3d48fa/PreOS-Packages</string>
				</dict>
				<dict>
					<key>additional_package_urls</key>
					<array>
						<string>file://{{current_volume_path}}/Deploy/Workflows/OS1481OEM-c4c04fbbf3d48fa/Packages</string>
					</array>
					<key>first_boot_reboot</key>
					<false/>
					<key>ramdisk</key>
					<false/>
					<key>type</key>
					<string>startosinstall</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/macOS/Install macOS Sonoma 14.8.1_23J30.app</string>
					<key>wait_for_mac_buddy_exit</key>
					<false/>
				</dict>
			</array>
			<key>first_boot_reboot</key>
			<false/>
			<key>name</key>
			<string>OS 14.8.1 OEM</string>
		</dict>
		<dict>
			<key>bless_target</key>
			<false/>
			<key>components</key>
			<array>
				<dict>
					<key>type</key>
					<string>script_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS156OEMforAdobe-84148cb0635eed04/WorkflowScripts</string>
				</dict>
				<dict>
					<key>first_boot</key>
					<false/>
					<key>type</key>
					<string>package_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS156OEMforAdobe-84148cb0635eed04/PreOS-Packages</string>
				</dict>
				<dict>
					<key>additional_package_urls</key>
					<array>
						<string>file://{{current_volume_path}}/Deploy/Workflows/OS156OEMforAdobe-84148cb0635eed04/Packages</string>
					</array>
					<key>first_boot_reboot</key>
					<false/>
					<key>ramdisk</key>
					<false/>
					<key>type</key>
					<string>startosinstall</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/macOS/Install macOS Sequoia 15.6_24G84.app</string>
					<key>wait_for_mac_buddy_exit</key>
					<false/>
				</dict>
			</array>
			<key>first_boot_reboot</key>
			<false/>
			<key>name</key>
			<string>OS 15.6 OEM for Adobe</string>
		</dict>
		<dict>
			<key>bless_target</key>
			<false/>
			<key>components</key>
			<array>
				<dict>
					<key>type</key>
					<string>script_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS1561MSO21-5e2f1963e871c68d/WorkflowScripts</string>
				</dict>
				<dict>
					<key>first_boot</key>
					<false/>
					<key>type</key>
					<string>package_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS1561MSO21-5e2f1963e871c68d/PreOS-Packages</string>
				</dict>
				<dict>
					<key>additional_package_urls</key>
					<array>
						<string>file://{{current_volume_path}}/Deploy/Workflows/OS1561MSO21-5e2f1963e871c68d/Packages</string>
					</array>
					<key>first_boot_reboot</key>
					<false/>
					<key>ramdisk</key>
					<false/>
					<key>skip_setup_assistant</key>
					<true/>
					<key>type</key>
					<string>startosinstall</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/macOS/Install macOS Sequoia 15.6.1_24G90.app</string>
					<key>wait_for_mac_buddy_exit</key>
					<false/>
				</dict>
			</array>
			<key>first_boot_reboot</key>
			<false/>
			<key>name</key>
			<string>OS 15.6.1 MSO 21</string>
		</dict>
		<dict>
			<key>bless_target</key>
			<false/>
			<key>components</key>
			<array>
				<dict>
					<key>type</key>
					<string>script_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS1561NoOffice-4338252a96d8e947/WorkflowScripts</string>
				</dict>
				<dict>
					<key>first_boot</key>
					<false/>
					<key>type</key>
					<string>package_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS1561NoOffice-4338252a96d8e947/PreOS-Packages</string>
				</dict>
				<dict>
					<key>additional_package_urls</key>
					<array>
						<string>file://{{current_volume_path}}/Deploy/Workflows/OS1561NoOffice-4338252a96d8e947/Packages</string>
					</array>
					<key>first_boot_reboot</key>
					<false/>
					<key>ramdisk</key>
					<false/>
					<key>skip_setup_assistant</key>
					<true/>
					<key>type</key>
					<string>startosinstall</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/macOS/Install macOS Sequoia 15.6.1_24G90.app</string>
					<key>wait_for_mac_buddy_exit</key>
					<false/>
				</dict>
			</array>
			<key>first_boot_reboot</key>
			<false/>
			<key>name</key>
			<string>OS 15.6.1 No Office</string>
		</dict>
		<dict>
			<key>bless_target</key>
			<false/>
			<key>components</key>
			<array>
				<dict>
					<key>type</key>
					<string>script_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS1561OEM-d5e753248ebb24f9/WorkflowScripts</string>
				</dict>
				<dict>
					<key>first_boot</key>
					<false/>
					<key>type</key>
					<string>package_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS1561OEM-d5e753248ebb24f9/PreOS-Packages</string>
				</dict>
				<dict>
					<key>additional_package_urls</key>
					<array>
						<string>file://{{current_volume_path}}/Deploy/Workflows/OS1561OEM-d5e753248ebb24f9/Packages</string>
					</array>
					<key>first_boot_reboot</key>
					<false/>
					<key>ramdisk</key>
					<false/>
					<key>type</key>
					<string>startosinstall</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/macOS/Install macOS Sequoia 15.6.1_24G90.app</string>
					<key>wait_for_mac_buddy_exit</key>
					<false/>
				</dict>
			</array>
			<key>first_boot_reboot</key>
			<false/>
			<key>name</key>
			<string>OS 15.6.1 OEM</string>
		</dict>
		<dict>
			<key>bless_target</key>
			<false/>
			<key>components</key>
			<array>
				<dict>
					<key>type</key>
					<string>script_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS1571MSO21-e2ebe2044596cf8e/WorkflowScripts</string>
				</dict>
				<dict>
					<key>first_boot</key>
					<false/>
					<key>type</key>
					<string>package_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS1571MSO21-e2ebe2044596cf8e/PreOS-Packages</string>
				</dict>
				<dict>
					<key>additional_package_urls</key>
					<array>
						<string>file://{{current_volume_path}}/Deploy/Workflows/OS1571MSO21-e2ebe2044596cf8e/Packages</string>
					</array>
					<key>first_boot_reboot</key>
					<false/>
					<key>ramdisk</key>
					<false/>
					<key>skip_setup_assistant</key>
					<true/>
					<key>type</key>
					<string>startosinstall</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/macOS/Install macOS Sequoia 15.7.1_24G231.app</string>
					<key>wait_for_mac_buddy_exit</key>
					<false/>
				</dict>
			</array>
			<key>first_boot_reboot</key>
			<false/>
			<key>name</key>
			<string>OS 15.7.1 MSO 21</string>
		</dict>
		<dict>
			<key>bless_target</key>
			<false/>
			<key>components</key>
			<array>
				<dict>
					<key>type</key>
					<string>script_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS1571NoOffice-3e0e1128d322f548/WorkflowScripts</string>
				</dict>
				<dict>
					<key>first_boot</key>
					<false/>
					<key>type</key>
					<string>package_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS1571NoOffice-3e0e1128d322f548/PreOS-Packages</string>
				</dict>
				<dict>
					<key>additional_package_urls</key>
					<array>
						<string>file://{{current_volume_path}}/Deploy/Workflows/OS1571NoOffice-3e0e1128d322f548/Packages</string>
					</array>
					<key>first_boot_reboot</key>
					<false/>
					<key>ramdisk</key>
					<false/>
					<key>skip_setup_assistant</key>
					<true/>
					<key>type</key>
					<string>startosinstall</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/macOS/Install macOS Sequoia 15.7.1_24G231.app</string>
					<key>wait_for_mac_buddy_exit</key>
					<false/>
				</dict>
			</array>
			<key>first_boot_reboot</key>
			<false/>
			<key>name</key>
			<string>OS 15.7.1 No Office</string>
		</dict>
		<dict>
			<key>bless_target</key>
			<false/>
			<key>components</key>
			<array>
				<dict>
					<key>type</key>
					<string>script_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS1571OEM-d66919b4838a4afa/WorkflowScripts</string>
				</dict>
				<dict>
					<key>first_boot</key>
					<false/>
					<key>type</key>
					<string>package_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS1571OEM-d66919b4838a4afa/PreOS-Packages</string>
				</dict>
				<dict>
					<key>additional_package_urls</key>
					<array>
						<string>file://{{current_volume_path}}/Deploy/Workflows/OS1571OEM-d66919b4838a4afa/Packages</string>
					</array>
					<key>first_boot_reboot</key>
					<false/>
					<key>ramdisk</key>
					<false/>
					<key>type</key>
					<string>startosinstall</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/macOS/Install macOS Sequoia 15.7.1_24G231.app</string>
					<key>wait_for_mac_buddy_exit</key>
					<false/>
				</dict>
			</array>
			<key>first_boot_reboot</key>
			<false/>
			<key>name</key>
			<string>OS 15.7.1 OEM</string>
		</dict>
		<dict>
			<key>bless_target</key>
			<false/>
			<key>components</key>
			<array>
				<dict>
					<key>type</key>
					<string>script_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS2601MSO21-7de8aa50520ea789/WorkflowScripts</string>
				</dict>
				<dict>
					<key>first_boot</key>
					<false/>
					<key>type</key>
					<string>package_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS2601MSO21-7de8aa50520ea789/PreOS-Packages</string>
				</dict>
				<dict>
					<key>additional_package_urls</key>
					<array>
						<string>file://{{current_volume_path}}/Deploy/Workflows/OS2601MSO21-7de8aa50520ea789/Packages</string>
					</array>
					<key>first_boot_reboot</key>
					<false/>
					<key>ramdisk</key>
					<false/>
					<key>skip_setup_assistant</key>
					<true/>
					<key>type</key>
					<string>startosinstall</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/macOS/Install macOS Tahoe 26.0.1_25A362.app</string>
					<key>wait_for_mac_buddy_exit</key>
					<false/>
				</dict>
			</array>
			<key>first_boot_reboot</key>
			<false/>
			<key>name</key>
			<string>OS 26.0.1 MSO 21</string>
		</dict>
		<dict>
			<key>bless_target</key>
			<false/>
			<key>components</key>
			<array>
				<dict>
					<key>type</key>
					<string>script_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS2601NoOffice-36729c9248f0be43/WorkflowScripts</string>
				</dict>
				<dict>
					<key>first_boot</key>
					<false/>
					<key>type</key>
					<string>package_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS2601NoOffice-36729c9248f0be43/PreOS-Packages</string>
				</dict>
				<dict>
					<key>additional_package_urls</key>
					<array>
						<string>file://{{current_volume_path}}/Deploy/Workflows/OS2601NoOffice-36729c9248f0be43/Packages</string>
					</array>
					<key>first_boot_reboot</key>
					<false/>
					<key>ramdisk</key>
					<false/>
					<key>skip_setup_assistant</key>
					<true/>
					<key>type</key>
					<string>startosinstall</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/macOS/Install macOS Tahoe 26.0.1_25A362.app</string>
					<key>wait_for_mac_buddy_exit</key>
					<false/>
				</dict>
			</array>
			<key>first_boot_reboot</key>
			<false/>
			<key>name</key>
			<string>OS 26.0.1 No Office</string>
		</dict>
		<dict>
			<key>bless_target</key>
			<false/>
			<key>components</key>
			<array>
				<dict>
					<key>type</key>
					<string>script_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS2601OEM-bc4b860e604091f5/WorkflowScripts</string>
				</dict>
				<dict>
					<key>first_boot</key>
					<false/>
					<key>type</key>
					<string>package_folder</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/Workflows/OS2601OEM-bc4b860e604091f5/PreOS-Packages</string>
				</dict>
				<dict>
					<key>additional_package_urls</key>
					<array>
						<string>file://{{current_volume_path}}/Deploy/Workflows/OS2601OEM-bc4b860e604091f5/Packages</string>
					</array>
					<key>first_boot_reboot</key>
					<false/>
					<key>ramdisk</key>
					<false/>
					<key>type</key>
					<string>startosinstall</string>
					<key>url</key>
					<string>file://{{current_volume_path}}/Deploy/macOS/Install macOS Tahoe 26.0.1_25A362.app</string>
					<key>wait_for_mac_buddy_exit</key>
					<false/>
				</dict>
			</array>
			<key>first_boot_reboot</key>
			<false/>
			<key>name</key>
			<string>OS 26.0.1 OEM</string>
		</dict>
	</array>
</dict>
</plist>
